<div id="<%= dom_id flat %>">
  <div>
    <strong>Name:</strong>
    <%= flat.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= flat.description %>
  </div>

  <div>
    <strong>Price per night:</strong>
    <%= flat.price_per_night %>
  </div>

  <div>
    <strong>Address:</strong>
    <%= flat.address %>
  </div>

</div>
