<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Mi Bnb" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Mi Bnb">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="margin: 0; font-family: sans-serif;">

  <nav style="border-bottom: 1px solid #ddd; padding: 15px 40px; display: flex; justify-content: space-between; align-items: center; background: white;">
    
    <%= link_to root_path, style: "text-decoration: none;" do %>
      <span style="font-size: 24px; color: #ff385c; font-weight: bold;">
        🏠 MiBnB
      </span>
    <% end %>
    <%= form_with url: flats_path, method: :get, local: true, style: "display: flex; gap: 10px;" do |form| %>
      <%= form.text_field :query, placeholder: "Buscar destino...", style: "padding: 10px; border-radius: 20px; border: 1px solid #ddd; width: 200px;" %>
      <%= form.submit "🔍", style: "background: #ff385c; border: none; color: white; padding: 10px 15px; border-radius: 50%; cursor: pointer;" %>
    <% end %>
    <div>
      <%= link_to "Ver todos", flats_path, style: "text-decoration: none; color: #222; margin-right: 20px; font-weight: 500;" %>
      
      <%= link_to "Pon tu casa en Airbnb", new_flat_path, style: "text-decoration: none; color: #222; border: 1px solid #ddd; padding: 10px 20px; border-radius: 22px; font-weight: bold; transition: 0.2s;" %>
    </div>
  </nav>
  <div style="padding: 20px;">
    <%= yield %>
  </div>
  
  <footer style="background-color: #f7f7f7; padding: 20px; text-align: center; border-top: 1px solid #ddd; margin-top: 50px;">
    <p style="color: #717171; font-size: 14px;">
      © <%= Time.now.year %> MiBnB - Hecho con Ruby on Rails y mucho café ☕
    </p>
  </footer>
</body>
</html>
